.difficulty-label {
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.difficulty-button {
  font-size: 15px;
  border-radius: 3px;
  padding-top: 9px;
  padding-bottom: 15px;
}

.grid-type-button {
  padding: 90px;
  border-radius: 3px;
  font-size: 16px;
}

.time-label {
  font-size: 30px;
}

.time-up {
  color: red;
}

.action-button {
  padding: 8px 20px;
  font-size: 15px;
}
/* Styling the entries (cells) */
entry {
  border-radius: 0px;
  border: 0.5px solid gray;
  padding: 0px;
}

.filled-entry {
  background-color: rgba(90, 90, 90, 0.438);
  color: black;
}

.six-by-six-cell {
  font-size: 40px;
}

.nine-by-nine-cell {
  font-size: 25px;
}

.top-border {
  border-top: 2px solid black;
}

.bottom-border {
  border-bottom: 2px solid black;
}

.left-border {
  border-left: 2px solid black;
}

.right-border {
  border-right: 2px solid black;
}

.conflict-highlight {
  background-color: rgba(102, 149, 155, 0.623);
  color: orange;
}

.correct-position {
  background-color: rgba(102, 149, 155, 0.623);
}

frame {
  border-radius: 0px;
}

.grid-frame {
  padding: 20px;
  border: 0px;
}

.game-paused-label {
  color: green;
  font-size: 40px;
}

.win-message {
  color: green;
}

.continue-button {
  padding: 8px 20px;
}
